# JWT Secrets
ACCESS_TOKEN_SECRET=your_jwt_secret_key
REFRESH_TOKEN_SECRET=your_jwt_secret_key

# DB url
DATABASE_URL=postgresql://username:password@localhost:5432/aichatgame?schema=public

# Redis URL
REDIS_URL=redis://localhost:6379

# bCrypt Salt Rounds
BCRYPT_SALT_ROUNDS=10

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key

# ws IP Address
SOCKET_IP_ADDRESS=your_ip_address

# API IP Address
API_IP_ADDRESS=your_ip_address