.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
    margin: 20px;
}

.title {
    font-size: 3rem;
    color: var(--ucla-blue);
    margin-bottom: 20px;
}

.playerList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.playerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: var(--ucla-blue);
}

.playerItem img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	transition: border-radius 128ms, background 128ms, color 128ms;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playerItem:hover {
    background-color: var(--color-light-blue);
    color: var(--color-full-white);
}

.playerName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}