/* Colors */

:root {
    --steel-blue: #567896ff;
    --gunmetal: #2A343Dff;
    --charcoal: #324A5Fff;
    --ucla-blue: #2B79BDff;
    --cadet-gray: #8BA2B5ff;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica', 'Poppins', sans-serif;
    background-color: black;
    color: var(--cadet-gray);
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--ucla-blue);
}
a {
    color: var(--gunmetal);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Buttons */ 

button {
    background-color: var(--ucla-blue);
    color: var(--gunmetal);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: var(--cadet-gray);
    color: var(--ucla-blue);
    transform: scale(1.05);
}
button:active {
    transform: scale(0.95);
}
button:focus {
    outline: none;
}

button a:hover {
    /* Drop shadow */
    text-shadow: 0 0 5px var(--ucla-blue);
    color: var(--ucla-blue);
    transition: all 0.3s ease;
    /* Zoom */
    transform: scale(1.1);
    transition: all 0.3s ease;
    text-decoration: none;
}